* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.lato-regular{
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }


.btn-primary{
    background-color:#82b235b4;
    padding: 20px 43px;
    border: none;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 700;

}




/* banner style */
.banner {
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw; /* Ensures it doesn't exceed the viewport */
    height: 850px;
    position: relative;
    padding: 50px 5%; /* Use % instead of fixed px */
    overflow: hidden; /* Ensures no hidden overflow */
  }
  

.banner-img {
    margin-bottom: -50px;
  object-fit: cover;

  }
  
  
.banner-title{
    font-size:5rem ;
    font-weight: 900;
    color:#272727 ;
    margin-bottom: 15px;
}
.banner-des{
    font-size:1rem ;
    font-weight: 500;
    color:rgba(39, 39, 39, 0.6) ;
    margin-bottom: 20px;
}
/* featured flowers style */
.ft-flowers{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; 
}
.ft-info{
text-align: center;
}
.ft-title{
font-size: 2.5rem;
font-weight: 700;
color: #272727;
margin-bottom: 20px;
}
.ft-des{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.flower-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in one row */
    gap: 10px;
    padding: 70px;
}

.flower-card {
    width: 464px;
    height: 538px;
    border-radius: 232px 232px 0 0; 
    display: flex;
    align-items: center;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  */
    overflow: hidden;
}
 /* Different light background colors */
.flower-card:nth-child(1) { background-color: rgba(167, 33, 98, 0.034); }
.flower-card:nth-child(2) { background-color: rgba(25, 207, 64, 0.205); }
.flower-card:nth-child(3) { background-color: rgba(12, 51, 78, 0.151); }
.flower-card img {
    width: 100%;
    height: 80%;
    object-fit: contain; 
    margin-bottom: -100px;
}

/* responsive */
/* small devices */
@media  screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        height: 100%;
    }
    .banner-info{
        text-align: center;
    }
    .banner-img {
        visibility: hidden;
      }
}


/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .btn-primary{
        margin-bottom: 30px;
    }
    .banner{
        flex-direction: column;
        height: 100%;

    }
    .banner-info{
        text-align: center;
    }
    .banner-img {
        height: 0;
        overflow: hidden;
    }
    
    }
